body {
  margin: 0;
  .header {
    width: 100%;
    height: 300px;
    background-color: rgb(110, 54, 187); 
    
  }
}


.chart {
  margin: 0 auto;

  h1 {
    text-align: center;
  }
}

.formContainer {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  padding: 1em;

  input {
    display: block;
    width: 80%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0
  }
}





